/**
 *
 * {{ fileName }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import classNames from 'classnames';

class {{ fileName }} extends React.Component {
  constructor(props) {
    super(props);
    this.state = {

    }
  }

  componentWillMount() {

  }

  componentDidMount() {

  }

  render() {
    return (
      <div>
      </div>
    )
  }
}

{{ fileName }}.propTypes = {

};

export default {{ fileName }};
